<h1><%= @vet.first_name %> <%= @vet.last_name %></h1>

<p>Email: <%= @vet.email %></p>
<p>Phone: <%= @vet.phone %></p>
<p>Specialization: <%= @vet.specialization %></p>

<h2>Appointments</h2>

<ul>
  <% @vet.appointments.each do |appointment| %>
    <li>
      <%= link_to "#{formatted_datetime(appointment.date)} - #{appointment.reason}", appointment_path(appointment) %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", vets_path %>