<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to "VetClinic", root_path, class: "navbar-brand" %>

    <div>
      <%= link_to "Owners", owners_path, class: "btn btn-outline-light btn-sm" %>
      <%= link_to "Pets", pets_path, class: "btn btn-outline-light btn-sm" %>
      <%= link_to "Vets", vets_path, class: "btn btn-outline-light btn-sm" %>
      <%= link_to "Appointments", appointments_path, class: "btn btn-outline-light btn-sm" %>
    </div>
  </div>
</nav>